/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./app/components/list.module.css ***!
  \**************************************************************************************************************/
.list2__Ih6uh {
    list-style-type: disc;
    padding-left: 200px;
    color: blue;
}
